body
{
	/*background: url("news.png") fixed;*/
	background-color: rgba(255,255,255,0.8);
	/*background-color: black;*/
}

.Box
{
	margin : 2%;
}

h1{
	color: white;
}

.BoxTable
{
	width: 80%;
	text-align: center;
	margin: 10%;
}



